# Ignore trained models and checkpoints
models/*
cv_checkpoints/*
src_classical_ml/results/*

# Keep directories in repo
!models/.gitkeep
!cv_checkpoints/.gitkeep
!src_classical_ml/results/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env*/

# IDE files
.vscode/
.idea/
.DS_Store
